/* OLD??? Reset some default browser styles */
/*
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
*/


/* Container Styles */
.container-cal {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/* OLD??? */
/* Navigation Styles */
/* 
nav ul {
  list-style-type: none;
  padding: 0;
}
*/

.events-cal {
  margin-top: 20px;
  border-top: 2px solid #5A00B4;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.event-item-cal {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
