/* Section Styles */
section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.contact-person {
  margin-bottom: 40px;
  flex: 0 0 calc(30% - 50px);
}
  
.contact-person img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
  
.contact-person h3,
.contact-person p {
  text-align: center;
  margin: 12px;
}
  
