body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Container Styles */
/*
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
*/

/* Navigation Styles */
/*
nav ul {
  list-style-type: none;
  padding: 0;
}
*/

/* Class Styles */
.classes {
  margin-top: 20px;
  border-top: 2px solid #5A00B4;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.class-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.class-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

